 body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f1f3f6;
        }
        .navbar {
            background-color: #ff5500;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            height: 60px;
        }
 .nav-links {
            width: 33%;
        }

        .nav-links a {
            color: white;
            text-decoration: none;
            margin-right: 15px;
            font-size: 16px;
        }

        .nav-links a:hover {
            text-decoration: underline;
        }
 .logo {
            width: 34%;
            text-align: center;
            color: white;
            font-size: 24px;
            font-weight: bold;
        }

        .search-box {
            width: 33%;
            text-align: right;
        }