 body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f1f3f6;
        }
        .navbar {
            background-color: #ff5500;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            height: 60px;
        }
 .nav-links {
            width: 33%;
        }

        .nav-links a {
            color: white;
            text-decoration: none;
            margin-right: 15px;
            font-size: 16px;
        }

        .nav-links a:hover {
            text-decoration: underline;
        }
 .logo {
            width: 34%;
            text-align: center;
            color: white;
            font-size: 24px;
            font-weight: bold;
        }

        .search-box {
            width: 33%;
            text-align: right;
        }
         .search-box input {
            padding: 6px;
            width: 70%;
            border: none;
            border-radius: 5px;
        }

        .banner {
            background-color: white;
            padding: 15px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            margin: 10px;
        }
        footer {
            margin-top: 10px;
        }
        .foot-panel1 {
            background-color: lightblue;
            color: darkblue;
            padding: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
         .copy {
            background-color: #222f3d;
            color: #df2fc4;
            text-align: center;
            padding: 10px 0;
        }